;; shadow-cljs configuration
{:source-paths
 ["src/dev"
  "src/main"
  "src/test"]

 :dependencies
 [[reagent "1.2.0"]
  [re-frame "1.4.4-SNAPSHOT"]
  [day8.re-frame/tracing "0.6.2"]
  [day8.re-frame/re-frame-10x "1.9.10"]
  [day8.re-frame/test "0.1.5"]
  [com.janetacarr/quadtree-cljc "0.1.5"]]

 :dev-http {8081 "public"}
 :js-options {:js-package-dirs ["node_modules" "packages"]}
 :builds
 {:frontend
  {:target :browser
   :modules {:main {:init-fn looset-graph.app/init}}
   :devtools {:preloads [day8.re-frame-10x.preload.react-18]}
   :dev {:compiler-options {:closure-defines {re-frame.trace.trace-enabled? true
                                              day8.re-frame.tracing.trace-enabled? true}}}
   :release {:build-options {:ns-aliases
                             {day8.re-frame.tracing day8.re-frame.tracing-stubs}}}}

  :test {:target :browser-test
         :test-dir "public/test"
         :ns-regexp "-test$"
         :devtools {:http-port 8021
                    :http-root "public/test"}}}}
